body {
  font-family: "Montserrat";
  background-color: $back-color;
  color: $text-color;
  width: 1366px;
  margin: 0 auto;
}

section {
  width: 1200px;
  height: 1000px;
  background-color: $section-color;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

side {
  background-color: $side-color;
}
